# node_modules
node_modules
packages/*/node_modules

# Builds
packages/*/dist
packages/*/build
packages/brain/uiBuild
packages/brain/webpack

# Brain db
packages/brain/brain-db.json

# Keystores
packages/brain/keystores
