name: "Build and test"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: yarn install

      # Lint and format and prettier
      - name: Lint
        run: yarn lint

      - name: Prettier
        run: yarn format

      # Build
      - name: Build
        run: yarn build

      # Test
      - name: Test
        run: yarn test
      # Docker
      - name: Docker production
        run: docker build .
      # Docker development
      - name: Docker development
        run: docker build -f Dockerfile.brain.dev .
