name: "Build and test"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Set up Docker Buildx for multi-arch support
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
     # Build multi-arch image
      - name: Build Docker image (multi-arch)
        run: |
          docker buildx create --use
          docker buildx build --platform linux/amd64,linux/arm64 .
      # Docker development
      - name: Docker development
        run: docker buildx build -f Dockerfile.brain.dev --platform linux/amd64,linux/arm64 --load .
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: yarn install

      # Lint and format and prettier
      - name: Lint
        run: yarn lint

      - name: Prettier
        run: yarn format

      # Build
      - name: Build
        run: yarn build

      # Test
      - name: Test
        run: yarn test
